<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am currently an undergraduate student majoring in Industrial Engineering at Kyung Hee University, with a primary focus on studying data science.
                And I am working as an undergraduate researcher in Professor Sangkeun Park's UX computing lab.
                </p>
            <p class="paragraph-text justify-text">
                I aspire to become a business analyst specializing in handling user experience data, with a focus on platform intermediary businesses such as Coupang and Baemin.
            </p>
            <p class="paragraph-text justify-text">
                I also run a <a href="https://9unu.tistory.com/">small tech blog</a> where I post about the lectures and experiences I've gained while studying, and I explain complex concepts in an easy-to-understand manner.
            </p>
            <p class="paragraph-text justify-text">
                I have organized the projects I have worked on so far on <a href="https://github.com/9unu">my GitHub page</a>, and you can find my email address at the bottom of this page.
            </p>
        </div>
    </section>
</div>
