.wrapper {
    /* max-width: 90%; */
    /* display: flex; */
    /* flex-wrap: wrap; */ /* Remove this line */
    /* justify-content: space-between; */
    /* align-items: center; Add this line */
    padding-left: 1em;
    padding-right: 1em;
    /* margin: 50px auto; */
}
/*
 * Helpers
 */
.border-tlr-radius { /* 상단 좌우 꼭지점 반경 */
	border-top-left-radius: 2px; /* 상단 왼쪽 꼭지점 반경 2픽셀 */
	border-top-right-radius: 2px; /* 상단 오른쪽 꼭지점 반경 2픽셀 */
}

.text-center { text-align: center; } /* 가운데 정렬 */

.radius { border-radius: 2px; } /* 모서리 반경 2픽셀 */

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;} /* 상하 여백 */

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); } /* 그림자 */

.shadowDepth1 {
   box-shadow: 
  		0 1px 3px rgba(0,0,0, 0.12), /* 그림자 1 */
    	0 1px 2px rgba(0,0,0, 0.24); /* 그림자 2 */      
}


/**
 * Card Styles
 */

 .card {
    background-color: #ffffff00; /* background color light gray for the whole card */
    margin-bottom: 1.6rem; /* Bottom margin 1.6rem */
    box-shadow: -4px 8px 16px 0 rgba(0, 0, 0, 0.24); /* shadow */
    display: flex; /* Use flexbox to control layout */
}

.card__padding {
    padding: 1.6rem; /* inner margin */
    padding-top: 0.8rem; /* top margin */
}

.card__image {
    min-height: 50px; /* Minimum height 100 pixels */
    background-color: white; /* background color white for image side */
    width: 180px; /* Set width of the image */
    overflow: hidden; /* Hide overflow */
    border-right: solid 1px white; /* right border */
    /* margin-right: 1.6rem; Add margin to the right to create space between image and content */
	margin: 0;
	padding:0;

}

.card__content {
    position: relative; /* relative position */
    flex: 1; /* Allow the content to take up remaining space */
    background-color: white; /* background color light gray for content side */
}

/* card meta */
.card__meta time {
    font-size: 1rem; /* Font size 1rem */
    color: white; /* font color gray */
    margin-left: 0.8rem; /* left margin */
    float: right; /* Align right */
}

/* card article */
.card__article a {
    text-decoration: none; /* remove underscore */
    color: #444; /* Font color dark gray */
    transition: all 0.5s ease; /* Transition effect */
}

.card__article a:hover {
    color: #2980b9; /* Change font color when you hover the cursor */
}

/* blog cards */
.blog-post {
	width: 100%; /* 너비 100% */
	border-radius: 2px; /* 모서리 반경 2픽셀 */
	display: grid; /* 그리드 표시 */
	grid-template-columns: auto 50px; /* 그리드 컬럼 설정 */
	background-color: #fff; /* 배경색 흰색 */
	margin-bottom: 1.6rem; /* 하단 여백 1.6rem */
	box-shadow: -4px 8px 16px 0 rgba(0, 0, 0, 0.24); /* 그림자 */
}
	  
.blog-link {
	padding-left: 1rem; /* 왼쪽 여백 */
	padding-right: 1rem; /* 오른쪽 여백 */
	grid-column-start: 1; /* 그리드 열 시작 */
	grid-column-end: 2; /* 그리드 열 종료 */
	border-right: solid 1px lightgray; /* 오른쪽 테두리 */
}

.blog-link a {
	text-decoration: none; /* 밑줄 제거 */
}

.blog-link:hover {
	opacity: 0.6; /* 호버 시 투명도 변경 */
	cursor: pointer; /* 커서 모양 변경 */
}

.blog-goto-link {
	display: flex; /* 플렉스 표시 */
	align-items: center; /* 수직 정렬 */
	justify-content: center; /* 수평 정렬 */
	cursor: pointer; /* 커서 모양 변경 */

	grid-column-start: 2; /* 그리드 열 시작 */
	grid-column-end: 3; /* 그리드 열 종료 */
}

.blog-goto-link i {
	font-size: 2rem; /* 아이콘 크기 */
	color: #C0C0C0; /* 아이콘 색상 */
}

.blog-goto-link:hover {
	opacity: 0.6; /* 호버 시 투명도 변경 */
}

.blog-extra {

}

.more-blogs {
	background-color: #2980b9; /* 배경색 */
	color: #fff; /* 글자색 */
}

.more-blogs a {
	color: #fff; /* 링크 색상 */
}

.blog-arrow {
	width: 16px; /* 너비 */
	height: 58px; /* 높이 */
}

#project-image {
	transition: all .5s; /* 전환 효과 */
}

#project-image:focus,
#project-image:hover {
	transform: scale(1.1); /* 호버 시 크기 변경 */
}



/* Here follow all the media queries */
@media screen and (max-width: 850px) {
	.wrapper {
		max-width: 400px; /* 최대 너비 400픽셀 */
		/* margin: 50px auto; */ /* 주석 처리: 상하 여백 50픽셀, 가운데 정렬 */
		padding-left: 1em; /* 왼쪽 안쪽 여백 1em */
		padding-right: 1em; /* 오른쪽 안쪽 여백 1em */
	}


  }
  
  @media screen and (max-width: 775px) {
	.wrapper {
		max-width: 400px; /* 최대 너비 400픽셀 */
		/* margin: 50px auto; */ /* 주석 처리: 상하 여백 50픽셀, 가운데 정렬 */
		padding-left: 1em; /* 왼쪽 안쪽 여백 1em */
		padding-right: 1em; /* 오른쪽 안쪽 여백 1em */
	}

  }
  
  @media screen and (max-width: 600px) {
	.wrapper {
		max-width: 400px; /* 최대 너비 400픽셀 */
		/* margin: 50px auto; */ /* 주석 처리: 상하 여백 50픽셀, 가운데 정렬 */
		padding-left: 1em; /* 왼쪽 안쪽 여백 1em */
		padding-right: 1em; /* 오른쪽 안쪽 여백 1em */
	}
  

  }
  
  @media screen and (max-height: 450px) and (max-width: 600px) {
	.wrapper {
		max-width: 400px; /* 최대 너비 400픽셀 */
		/* margin: 50px auto; */ /* 주석 처리: 상하 여백 50픽셀, 가운데 정렬 */
		padding-left: 1em; /* 왼쪽 안쪽 여백 1em */
		padding-right: 1em; /* 오른쪽 안쪽 여백 1em */
	}

  }
  
  @media screen and (max-width: 400px) {
	.wrapper {
		max-width: 400px; /* 최대 너비 400픽셀 */
		/* margin: 50px auto; */ /* 주석 처리: 상하 여백 50픽셀, 가운데 정렬 */
		padding-left: 1em; /* 왼쪽 안쪽 여백 1em */
		padding-right: 1em; /* 오른쪽 안쪽 여백 1em */
	}

  }
  
  @media screen and (max-height: 525px) {
	.wrapper {
		max-width: 400px; /* 최대 너비 400픽셀 */
		/* margin: 50px auto; */ /* 주석 처리: 상하 여백 50픽셀, 가운데 정렬 */
		padding-left: 1em; /* 왼쪽 안쪽 여백 1em */
		padding-right: 1em; /* 오른쪽 안쪽 여백 1em */
	}

  }